.load{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100vh !important;
   background-image: url('../images/homeslider/bg-2.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100% ;
   background-position: center center;
    text-align: center;
    color: #e0aa3e !important;

}

@media only screen and(max-width:600px){

    .load{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        //height: 500px !important;
       background-image: url('../images/homeslider/bg-2.jpg') !important;
       background-repeat: no-repeat;
       background-size: 100% 100%;
       background-position: center center;
        text-align: center;
        color: #e0aa3e !important;
    
    }
}
    

